# Your discord bot key
DISCORD_TOKEN=
CLIENT_ID=

# PostgreSQL connection string
# Format: postgres://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=postgres://splitshare:splitshare@localhost:5432/splitshare
